/* defaulr page styling */
*{
  padding: 0;
  margin: 0;
}

/* body page styling */
body{
  font-family: Noto Sans Display, sans-serif;
  padding: 0;
  margin: 0;
}

/* anchor tag styling */
a{
  color: red;
  text-decoration: underline ;
}

/* Header's and Label font styling */
h1,h2,h3,h4,h5,h6,label{
  font-family: Bebas Neue, cursive, sans-serif;
}

/* select styling */
select{
  padding: 1%;
  font-family: inherit;
}

/* input style */
input{
  border: solid black 2px;
  border-radius: .25rem;
  padding: 1%;
}

/* styling to img that is called with movie web api */
.movie-results-img{
  height: 138px;
  width: 92px;
  margin-right: 2%;
}

/* button style for search */
.btn-search {
  border: solid black 2px;
  border-radius: .25rem;
  font-size: 2.5rem;
  font-weight: bold;
}

/* button style for form */
.btn-form{
  border: solid black 2px;
  border-radius: .25rem;
  font-size: 2rem;
  font-weight: bold;
}

.border-box{
  border: solid black 2px;
  border-radius: .25rem;

}

/* styles for all the labels for the buttons */
.labels{
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  width: 100%;
}





